<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <appSettings>
    <add key="BaseUrl" value="https://api.xero.com"/>
    <add key="ConsumerKey" value="WHWH0GLSXP0VWILTOTNUAZXSYOJQGL"/>
    <add key="ConsumerSecret" value="3JGE7MROSTKKIYIJZCWTERR7NTX1SO"/>
    <add key="CallbackUrl" value="localhost"/>
    <add key="SigningCertificate" value="C:\TFS\BeyondCRM Online Lite\Main\Integration\BYD.Integration.Xero\bin\Debug\Resources\cert\BeyondCRMDevPassword.pfx"/>
    <add key="SigningCertificatePassword" value="344Queen"/>
  </appSettings>
</configuration>